

{{ theme:partial name="header" }}


       
            <section class="page_heading">

                {{ theme:partial name="logo" }} 
                
            </section>

            <!-- Start Home -->
 
                <div class="page_wrapper">
          
                    <!-- Start Container -->
                    <section class="container">
 
                        <!-- Start Page -->

                        {{ template:body }}

                        <!-- End Page -->

                    </section>
                    <!-- End Container -->

                </div>
                <!-- End Home -->

                {{ theme:partial name="footer" }}

                </body>
                </html>
