<meta charset="utf-8">
<meta name="language" content="{{ lang:code }}">
<base href="{{ url:base }}">

<title>{{ settings:site_name }} - {{ template:title }}</title>
<meta name="author" content="www.incore.com">
<meta name="viewport" content="width=device-width">

{{ theme:favicon xhtml="false" }}

{{ if theme:options:ie == 1 }}
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
{{endif}}

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    window.jQuery || document.write('<script src="{{ theme:js_path file="jquery-2.1.3.min.js" }}" type="text/javascript" charset="utf-8"><\/script>')
</script>

{{ theme:css file="custom/bootstrap.min.css" group="global" }}

{{ theme:js file="bootstrap/bootstrap.min.js" group="global" }}
{{ theme:js file="custom.js" group="global" }}

{{asset:render group="global"}}

{{ template:metadata }}

{{ integration:analytics }}
