<div class="col-xs-12">
    <div class="panel big-sale">
        <div class="panel-heading">Köp &amp; Sälj&nbsp;</div>
        <div class="panel">
            <div class="panel-body">
                <h2>Viltstängsel</h2>

                <div>

                    {{ asset:image class="img-responsive pull-left thin-shadow main-image" width="100"
                    file="theme::viltstaket.jpg" alt="" }}
                    <div>
                        En text som handlar om ett viltstängsel som jag vill sälja på denna sida. ge mig
                        gärna ett bud om du tcker att det är dyrt. En text som handlar om ett
                        viltstängsel som jag vill sälja på denna sida. ge mig gärna ett bud om du tcker
                        att det är dyrt. En text som handlar om ett viltstängsel som jag vill sälja på
                        denna sida.
                        <div class="price"> SEK 2800</div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div>
                    <img src="file:///C:/Program%20Files%20(x86)/Pinegrow%20Web%20Designer/placeholders/img6.jpg"
                         class="thin-shadow sale-thumb img-responsive">
                    <img src="file:///C:/Program%20Files%20(x86)/Pinegrow%20Web%20Designer/placeholders/img6.jpg"
                         class="thin-shadow sale-thumb img-responsive">
                    <img src="file:///C:/Program%20Files%20(x86)/Pinegrow%20Web%20Designer/placeholders/img6.jpg"
                         class="thin-shadow sale-thumb img-responsive">
                    <img src="file:///C:/Program%20Files%20(x86)/Pinegrow%20Web%20Designer/placeholders/img6.jpg"
                         class="thin-shadow sale-thumb img-responsive">
                </div>
                <div>
                    <h5>Kontakt:</h5>

                    <p>Marcus Junström, Linköping</p>

                    <p>076 33 50 850</p>

                    <p>marcus@junstrom.se</p>
                </div>
            </div>
        </div>
    </div>
</div>
