<div class="col-xs-12">
    <div class="panel">
        <div class="panel-heading">Nyhetsbrev</div>
        <div class="panel-body">
            <form class="form" role="form">
                <div class="form-group">
                    <div class="input-group">
                        <label class="sr-only" for="exampleInputEmail2">E-postadress</label>
                        <input type="email" class="form-control" id="exampleInputEmail2"
                               placeholder="E-postadress">

                        <div class="input-group-addon">Prenumerera</div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
