@font-face {
  font-family: pt-sans;
  src: url(fonts/PT-Sans/PTS55F.ttf);
  font-weight: normal;
}

@font-face {
  font-family: pt-sans;
  src: url(fonts/PT-Sans/PTS75F.ttf);
  font-weight: bold;
}

@font-face {
  font-family: pt-sans;
  src: url(fonts/PT-Sans/PTS56F.ttf);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: pt-sans;
  src: url(fonts/PT-Sans/PTS76F.ttf);
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Oswald Regular';
  src: url(fonts/oswald/Oswald-Regular.otf);
  font-weight: bold;
  font-style: italic;
}

