<?php Asset::add_path('sliderimages', 'sliderimages'); ?>




<header id="head" class="head hidden-xs">

    <div id="layerslider" style="width:100%;height:420px;">

        <!-- this is a slide -->
        <div class="ls-slide" data-ls="slidedelay:12000; transition2d: 11;">

            <!-- A regular slide background -->
            {{ asset:image class="ls-bg" file="theme::transparent.png" alt="Incore" }}

            <h3 class="ls-l bordered-text"
                style="top:50px;left:50%;"
                data-ls="durationin:1500;delayin:300;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
                Våra surfbeteenden ändras, visste du att:</h3>
            <h4 class="ls-l bordered-text"
                style="top:150px;left:50%;"
                data-ls="durationin:1500;delayin:2100;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
                92% söker efter lokal information från sin mobil</h4>
            <h4 class="ls-l bordered-text"
                style="top:200px;left:50%;"
                data-ls="durationin:1500;delayin:4900;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
                33% har någon gång köpt någonting från en mobil enhet</h4>
            <h4 class="ls-l bordered-text"
                style="top:250px;left:50%;"
                data-ls="durationin:1500;delayin:7700;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
                79% har samlat information via en mobil enhet innan köp</h4>

            <p class="ls-l bordered-source"
               style="top:85%;left:80%;"
               data-ls="durationin:1500;delayin:2100;scalexin:1.5;scaleyin:1.5;durationout:750;scalexout:0;scaleyout:0;">
                Källa: <a href="http://think.withgoogle.com/mobileplanet/sv/" target="_blank">Google - Our Mobile
                Planet</a></p>
        </div>


        <div class="ls-slide" data-ls="slidedelay:7100; transition2d: 11;">

            <!-- A regular slide background -->
            {{ asset:image class="ls-bg" file="theme::transparent.png" alt="Incore" }}
            <h3 class="ls-l bordered-text"
                style="top:40px;left:50%;"
                data-ls="showuntil: 5400;durationin:1500;durationout: 1000;delayin:100;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;offsetyout: bottom;">
                Vi skapar din hemsida - anpassad för alla skärmstorlekar</h3>
            <img class="ls-l"
                 style="top: 100px; left: 51%;" data-ls="
					offsetxin: -200;
					offsetxout: 0;
					offsetyin: 0;
					offsetyout: bottom;
                    showuntil: 3000;
					durationin: 2000;
					durationout: 1200;
					delayin: 900;
					skewxin: 60;"
                 src="http://www.incore.se/addons/incore/themes/incore2/img/sliderimages/custom/screen1.png"
                 alt="">
            <img class="ls-l"
                 style="top: 100px; left: 51%;" data-ls="
					offsetxin: -200;
					offsetxout: 0;
					offsetyin: 0;
					offsetyout: bottom;
                    showuntil: 3000;
					durationin: 2000;
					durationout: 1200;
					delayin: 1200;
					skewxin: 60;"
                 src="http://www.incore.se/addons/incore/themes/incore2/img/sliderimages/custom/screen2.png"
                 alt="">
            <img class="ls-l"
                 style="top: 100px; left: 51%;" data-ls="
					offsetxin: -200;
					offsetxout: 0;
					offsetyin: 0;
					offsetyout: bottom;
                    showuntil: 3000;
					durationin: 2000;
					durationout: 1200;
					delayin: 1500;
					skewxin: 60;"
                 src="http://www.incore.se/addons/incore/themes/incore2/img/sliderimages/custom/screen3.png"
                 alt="">
            <img class="ls-l"
                 style="top: 90px; left: 51%;" data-ls="
					offsetxin: -200;
					offsetxout: 0;
					offsetyin: 0;
					offsetyout: bottom;
                    showuntil: 3000;
					durationin: 2000;
					durationout: 1200;
					delayin: 1800;
					skewxin: 60;"
                 src="http://www.incore.se/addons/incore/themes/incore2/img/sliderimages/custom/screen4.png"
                 alt="">


        </div>
        <div class="ls-slide" data-ls="slidedelay:14000; transition2d: 11;">

            <!-- A regular slide background -->

            {{ asset:image class="ls-bg" file="theme::transparent.png" alt="Incore" }}
            <img class="ls-l" style="top:75px;left:50%;white-space: nowrap;"
                 data-ls="offsetxin:0;offsetyin:100;durationin:2000;delayin:1000;offsetxout:-100;offsetyout:50;durationout:2000;showuntil:2010;"
                 src="http://www.incore.se/addons/incore/themes/incore2/img/sliderimages/slide-a-1.png" alt="">

            <img class="ls-l"
                 style="top:75px;left:50%;white-space: nowrap;"
                 data-ls="offsetxin:0;offsetyin:100;durationin:2000;delayin:1000;offsetxout:0;durationout:1500;showuntil:500;scalexout:0.2;scaleyout:0.2;"
                 src="http://www.incore.se/addons/incore/themes/incore2/img/sliderimages/custom/slide-a-3a.png"
                 alt="">
            <img class="ls-l" style="top:75px;left:50%;white-space: nowrap;"
                 data-ls="offsetxin:0;durationin:1500;delayin:3500;scalexin:0.5;scaleyin:0.5;offsetxout:-100;offsetyout:50;durationout:2000;showuntil:1;"
                 src="http://www.incore.se/addons/incore/themes/incore2/img/sliderimages/custom/slide-a-4a.png" alt="">
            <img class="ls-l"
                 style="top:236px;left:45%;white-space: nowrap;"
                 data-ls="offsetxin:0;durationin:1;delayin:3498;offsetxout:0;durationout:750;showuntil:1;easingout:easeOutSine;scalexout:10;scaleyout:10;"
                 src="http://www.incore.se/addons/incore/themes/incore2/img/sliderimages/slide-a-6.png" alt="">
            <img class="ls-l"
                 style="top:235px;left:50%;white-space: nowrap;"
                 data-ls="offsetxin:0;offsetyin:bottom;delayin:2500;offsetxout:0;offsetyout:bottom;durationout:1000;showuntil:1;"
                 src="http://www.incore.se/addons/incore/themes/incore2/img/sliderimages/slide-a-5.png"
                 alt="">

            <h3 class="ls-l bordered-text"
                style="top:50px;left:50%;"
                data-ls="durationin:500;delayin:10;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
                Sökmotoroptimering</h3>
            <h4 class="ls-l bordered-text"
                style="top:150px;left:50%;"
                data-ls="durationin:1500;delayin:5300;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
                Finns du?</h4>
            <h4 class="ls-l bordered-text"
                style="top:150px;left:50%;"
                data-ls="durationin:1500;delayin:6800;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
                Fråga Google!</h4>
            <h4 class="ls-l bordered-text"
                style="top:200px;left:50%;"
                data-ls="durationin:1500;delayin:9000;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
                Vi utformar din hemsida så Google hittar dig! </h4>
            <h4 class="ls-l bordered-text"
                style="top:250px;left:50%;"
                data-ls="durationin:1500;delayin:11000;rotatein:20;rotatexin:30;scalexin:1.5;scaleyin:1.5;transformoriginin:left 50% 0;durationout:750;rotateout:20;rotatexout:-30;scalexout:0;scaleyout:0;transformoriginout:left 50% 0;">
                Vi knyter även din hemsida till Googles statistiktjänst! </h4>


        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#layerslider').layerSlider({
                thumbnailNavigation: 'disabled',
                responsive: false,
                responsiveUnder: 800,
                layersContainer: 800,
                skin: 'fullwidth',
                pauseOnHover: false,
                skinsPath: '{{ theme:css_url}}layerslider/skins/',
                autoStart: true,
                firstLayer: 1
            });

        });

    </script>
</header>
