
<style>
   p.about {
       margin-top: 10px;
   margin-bottom: 35px;
   font-size: 20px;
   line-height: 28px;
   font-family: "Lato";
   font-weight: 400;
   font-style: normal;
   color: rgba(56, 56, 56, 1);
}


    </style>
<div class="row featurette">
    <div class="col-md-12">

  {{ files:image id="6612d67650f431e" class="img-responsive pull-left" style="margin-left:-6px;"}}
  <h3 class="intro hidden-sm pull-left hidden-xs" style="padding-top:4px;padding-left:34px;"> - Innovativa tillbehör för din Jakt</h3>
  <p class="intro visible-sm pull-left hidden-xs" style="padding-top:26px;padding-left:34px;">  - Innovativa tillbehör för din Jakt</p>
   <div class="clearfix"></div>
  <p class="intro visible-xs" style="padding-top:0px;padding-left:4px;">- Innovativa tillbehör för din Jakt</p>



    </div>
</div>


<div class="row featurette">
    {{ snippets:startsida_om_jagarhjalpen }}

</div>
    <hr class="featurette-divider">


<div class="row featurette">

    {{ snippets:startsida_rekyldampare }}

</div><hr class="featurette-divider">

<div class="row featurette">
     {{ snippets:startsida_ovrigt }}

</div><hr class="featurette-divider">


<div class="row featurette">
    {{ snippets:startsida_kamerafaste }}
</div><hr class="featurette-divider">


<div class="row featurette">
    {{ snippets:startsida_viltbarare }}

</div>
